{% extends "base.html" %}
{% block content %}

    <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/150px-Instagram_logo.svg.png"
        width = "100px"
        height = "40px"
    />

    <h2>half_bottle</h2>

    <button>프로필 편집</button>

    <p>
        <strong>
            류승엽 (Seungyeop Ryu)<br/>
        </strong>
        작가
    </p>

    <p>
        <a href="https://programmers.co.kr/">
            프로그래머스
        </a>
    </p>

    <p>
        게시물<br/>
        팔로워<br/>
        팔로우<br/>
        133<br/>
        408<br/>
        189
    </p>

{% endblock content %}