{% extends "base.html" %}
{% block content %}

    <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/150px-Instagram_logo.svg.png"
        width = "100px"
        height = "40px"
    />

    <h2>half_bottle</h2>

    <div>
        <img src = "/static/edu/image/profile.jpg" width = "100px"/> <br/>

        <button>프로필 편집</button>
    </div>

    <p>
        <strong>
            류승엽 (Seungyeop Ryu)<br/>
        </strong>
        작가<br/>
        <a href="{% url 'edu:new_content' %}">새글등록</a>
    </p>

    <ul>
        {% for feed in feed_list%}
            <li>
                {{feed.content}}
                <img src="/media/{{feed.photo}}" width="100px"/>
            </li>
        {% endfor %}
    </ul>

    <p>
        <a href="https://programmers.co.kr/">
            프로그래머스
        </a>
    </p>

    <div>
        <div>
            <div>
                <img src="/static/edu/image/hl 1.jpg" height="35px"/>
            </div>
            <div>
                😃
            </div>
        </div>
        <div>
            <div>
                <img src="/static/edu/image/hl 2.jpg" height="35px"/>
            </div>
            <div>
                😁
            </div>
        </div>
    </div>

    <p>
        게시물<br/>
        팔로워<br/>
        팔로우<br/>
        133<br/>
        408<br/>
        189
    </p>

    <div>
        <img src="/static/edu/image/thumbnails/1.jpg" width="32%">
        <img src="/static/edu/image/thumbnails/2.jpg" width="32%">
        <img src="/static/edu/image/thumbnails/3.jpg" width="32%">
        <img src="/static/edu/image/thumbnails/4.jpg" width="32%">
        <img src="/static/edu/image/thumbnails/5.jpg" width="32%">
        <img src="/static/edu/image/thumbnails/6.jpg" width="32%">
        <img src="/static/edu/image/thumbnails/7.jpg" width="32%">
        <img src="/static/edu/image/thumbnails/8.jpg" width="32%">
        <img src="/static/edu/image/thumbnails/9.jpg" width="32%">
    </div>
{% endblock content %}